# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

text_features.txt
crawl-300d-2M.vec
infersent1.pkl
infersent2.pkl

dataset/GloVe
dataset/MultiNLI
dataset/SNLI
encoder/infersent.allnli.pickle

*.swp
